@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Ubuntu:ital,wght@1,300&display=swap');
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

html {
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

#mal_car_frontend {
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.btn {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly !important;
    align-items: center !important;
    align-self: center !important;
    align-content: center !important;
}